body{
  margin: 0;
  padding: 0;
  background: url('photo.jpg');
  background-size: 100%;
  background-attachment: fixed;
}
h1{
  margin: 0;
}
.main{
  width: 80%;
  height: auto;
  margin: 0 auto;
}
.container0{
background: url('ticket.png');
background-repeat: no-repeat;
background-position: center center;
background-size: 85% 105%;
}
.container0 h1{
  font-size: 45px;
  color: rgb(0, 0, 0);
  font-family: 'IBM Plex Serif', serif;
  text-align: center;
  padding: 2% 3% 3%;
  border-left: 2px solid rgb(226, 157, 32);
  border-right: 2px solid rgb(226, 157, 32);
}
.container1{
  margin: 0;
  background-image: url('2455877.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}
.row{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 10%;
}
h1, span{
  color: rgb(218, 9, 9);
}
span{
  color: rgb(218, 9, 9);
  font-weight: bold;
}
.text_cont1, .text_cont2{
  color: white;
  font-size: 20px;
  padding: 4% 4% 2% 2%;
  width: 75%;
}
.photo1, .photo2{
  width: 35%;
}
img{
  width: 100%;
  height: 100%;
}
.container2{
  margin: 0;
  background-image: url('Pacific_Rim_27.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}
.container2 .row{
  padding: 7%;
}
.container2 .photo2{
  width: 38%;
  height: 464.43px;
  padding-top: 3%;
}
.container2 .text_cont2{
  color: white;
  font-size: 20px;
  padding: 0 0 2% 4%;
  width: 72%;
}
.container3{
  margin: 0;
  background-image: url('Emily_Blunt_film_EDGE_OF_TOMORROW_I-want-you-to-join-the-united-defense-force_poster (2).jpg');
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}
.container4{
  margin: 0;
  background-image:url('thumb-1920-1150394.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}
.text_cont2{
  padding: 5% 0 2% 6%;
}
